#borderCenter {
    -fx-height: 100%;
}


.experiment-card {
    -fx-padding: 20;
    -fx-hgap: 20;
    -fx-vgap: 10;
}

.experiment-card-green {
    -fx-background-color: #8CFF8E;
}

.experiment-card-green:hover {
    -fx-background-color: #CCFFCC;
}

.experiment-card-red {
    -fx-background-color: #FF7256;
}

.experiment-card-red:hover {
    -fx-background-color: #FF9F8E;
}

.experiment-card-yellow {
    -fx-background-color: #FFD942;
}

.experiment-card-yellow:hover {
    -fx-background-color: #FFECA8;
}

.experiment-card .label {

}

.account-card-gray {
    -fx-background-color: #9e9e9e;
}

.account-card {
    -fx-padding: 20;
    -fx-hgap: 20;
    -fx-vgap: 10;
}

.experiment-card .title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}